@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.sticky-header {
	justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
  transition-duration: 75ms;
  opacity: 95%;
}

@media screen and (min-width: 10em) {
  .header {
    justify-content: center;
  }

  .page-title {
    font-size: 1.6rem;
    margin: 0;
  }

  .news-container {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:auto;
    padding: 30px;
  }

  .news-card {
    width: auto;
    height: auto;
  }

  .card-title {
    font-weight: 700;
    font-size: 1rem;
    height: 118px;
    overflow: hidden;
  }

  .filter-buttons {
    width: 100%;
    margin: 0;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right:2rem;
  }
}


@media screen and (min-width: 40em) {
  .header {
    justify-content: center;
  }

  .page-title {
    font-size: 1.6rem;
    margin: 0;
  }

  .news-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows:auto;
    padding: 30px;
  }

  .news-card {
    width: auto;
    height: auto;
  }

  .card-title {
    font-weight: 600;
    font-size: 1.15rem;
    height: 118px;
    overflow: hidden;
  }

  .filter-buttons {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right:2rem;
  }
}


@media screen and (min-width: 70em) {
  .header {
    justify-content: center;
  }

  .page-title {
    font-size: 1.6rem;
    margin: 0;
  }

  .news-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows:auto;
    padding: 30px;
  }

  .news-card {
    width: auto;
    height: auto;
  }

  .card-title {
    font-weight: 600;
    font-size: 1.15rem;
    height: 118px;
    overflow: hidden;
  }

  .filter-buttons {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right:2rem;
  }
}


@media screen and (max-width: 370px) {
  .filter-buttons {
    width: 100%;
    margin: 0;
    padding: 1.1em;
    flex-flow: column;

  }

  .filter-buttons > *  {
    width: 100%;
    height: auto;
  }
}
